################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Intro/v16/Browse.VC.db
/.vs/Intro/v16/Solution.VC.db-wal
/.vs/Intro/v16/Solution.VC.db-shm
/.vs/Intro/v16/Solution.VC.db
/.vs/Intro/v16/Browse.VC.opendb
/.vs/Intro/v16/Browse.VC.db-wal
/.vs/Intro/v16/Browse.VC.db-shm
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Intro/v16
/.vs
/Intro/x64
/IntroTest/x64
/x64
